---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tu cita fácil en el Consulado del Perú">
    <header class="bg-white py-4 shadow-lg border">
        <div class="max-w-[1200px] mx-auto px-6 w-full items-center justify-between flex flex-col lg:flex-row gap-5">
            <div class="flex-1 md:order-1">
                <a href="/">
                    <img src="/logo-red.png" alt="Logo" class="h-[60px]  md:h-[80px] mx-auto">
                </a>
            </div>
            <h1 class="text-2xl md:text-3xl font-bold text-[#390712] md:w-[62%] uppercase text-center lg:text-left">
                ¡Asegura tu Cita en el Consulado del Perú por Solo €5!
            </h1>
        </div>
      </header>
    <main
        class="bg-[#F9FAFA] text-[#73838C] min-h-screen flex items-center justify-center font-inter"
    >
        <div class="max-w-[1200px] w-full px-6 py-8 flex flex-col lg:flex-row gap-8">
            <!-- Sección izquierda -->
            <div class="w-full lg:w-[60%] lg:pr-12 flex flex-col gap-6">
                <!-- Título antes del video -->
                <h2  class="text-xl text-center lg:text-left sm:text-2xl md:text-3xl font-semibold text-[#390712] mb-4" >Muchos tardan <span class="line-through">Semanas</span> hasta <span class="line-through">Meses</span>, consigue  <strong>TU CITA EN 1 DÍA</strong>🚀</h2>
                <!-- Video o Imagen -->
                <div class="w-full">
                    <video class="w-full h-auto rounded-lg shadow-lg" controls>
                        <source src="/images/cita.mp4" type="video/mp4" />
                        Tu navegador no soporta el video.
                    </video>
                </div>
                <div class="text-left">
                    <h2 class="text-xl md:text-2xl font-bold text-[#390712] mb-4">
                        ¿Qué incluye nuestro servicio de gestión de citas?
                    </h2>
                    <dl class="flex flex-col gap-5 md:w-[90%]">
                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">📅 Gestión integral de tu cita</dt>
                            <dd class="text-sm md:text-base  text-[#8F9CA3]">Nos ocupamos de todo el proceso para reservar tu cita en el consulado, desde la solicitud hasta la confirmación, asegurándote un servicio ágil y confiable.</dd>
                        </div>

                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">✅ Confirmación rápida y garantizada</dt>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Una vez gestionada tu cita, recibirás una confirmación rápida y garantizada, para que tengas la certeza de que todo está bajo control.</dd>                    
                        </div>

                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">⏰ Flexibilidad en la elección del horario</dt>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Te ofrecemos la opción de elegir un horario preferente para tu cita en el consulado, adaptado a tus necesidades personales y disponibilidad.</dd>            
                        </div>

                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">🔄 Reprogramación fácil en caso de imprevistos</dt>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Si por cualquier motivo no puedes asistir a tu cita, tienes la opción de reprogramar la cita hasta 2 días antes de la fecha programada, brindándote máxima flexibilidad.</dd> 
                        </div>
                    </dl>
                </div>

                <!-- Texto persuasivo -->
                <div class="text-left">
                    <h2 class="text-xl md:text-2xl font-bold text-[#390712] mb-4">
                        ¿Cómo funciona el proceso?
                    </h2>
                    <dl class="grid grid-cols-1 md:grid-cols-2 gap-3">
                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">Paso 1: Completa el Formulario</dt>
                            <span>📄</span>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Rellena nuestros datos en el formulario para iniciar el proceso de tu cita. Es rápido y sencillo.</dd>            
                        </div>
                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">Paso 2: Selecciona tu Horario</dt>
                            <span>⏰</span>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Te contactaremos por WhatsApp para confirmar tus datos y elegir tu horario.
                             Por solo €2.00 más, escoge la hora que mejor se adapte a ti y evita contratiempos en tu agenda.</dd>            
                        </div>
                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">Paso 3: Separa tu Cita</dt>
                            <span>💰</span>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Asegura tu cita con un adelanto de solo €5. <br> El costo total de la cita es €9.50 y en caso elijas horario €11.00</dd>            
                        </div>
                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">Paso 4: Confirmación de tu Cita</dt>
                            <span>✅</span>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">En menos de 1 día, tendrás tu cita confirmada. Realizarás el ingreso restante después de corroborar tu cita agendada.</dd>            
                        </div>
                        <div class="border border-[#E9EBED] shadow-md bg-white p-5 rounded-md hover:bg-[#1D2730] hover:text-[#EFF3F5] transition duration-200 ease-in-out">
                            <dt class="font-semibold text-base md:text-lg">Paso 7: ¡Listo para tu Cita!</dt>
                            <span>🎉</span>
                            <dd class="text-sm md:text-base text-[#8F9CA3]">Prepárate para tu cita en el Consulado del Perú. y si tienes que reprogramarla recuerda máximo hasta 2 días antes. ¡Estamos aquí para apoyarte en cada paso!.</dd>            
                        </div>
                    </dl>
                    <p class="font-semibold mt-5 text-[#AA1437]">
                        ¡Confía en nosotros y olvídate del estrés de gestionar
                        citas!
                    </p>
                </div>

            </div>

            <!-- Sección derecha: Formulario -->
            <div
                class="w-full lg:w-[38%] flex lg:sticky lg:top-3 lg:self-start"
            >
                <form
                    id="form"
                    class="flex-1 flex flex-col gap-4 px-8 py-6 bg-white rounded-lg border border-[#E9EBED] shadow-lg"
                >
                    <h1 class="text-xl md:text-2xl font-bold text-[#390712] uppercase mb-3">
                        Completa tus datos para la cita
                    </h1>

                    <div class="flex flex-col gap-2">
                        <div class="relative w-full">
                            <!-- Botón personalizado que simula el select -->
                            <button
                                id="dropdownButton"
                                type="button"
                                class="inline-flex text-[1rem] justify-between w-full rounded-md border border-[#E9EBED] shadow-sm p-3 bg-[#F4F5F6] text-sm text-[#73838C] hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#EA5075] focus:border-transparent"
                                aria-expanded="true"
                                aria-haspopup="true"
                            >
                                <span id="dropdownSelected" class="text-[16px] opacity-75 font-[400]"
                                    >Seleccione un trámite</span
                                >
                                <svg
                                    class="-mr-1 ml-2 h-5 w-5"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.17l3.71-3.94a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>

                            <!-- Menú desplegable con las opciones -->
                            <div
                                id="dropdownMenu"
                                class="origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg z-20 bg-white ring-1 ring-black ring-opacity-5 hidden"
                            >
                                <div
                                    class="py-1 h-[380px] overflow-y-auto"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="dropdownButton"
                                >   
                                    <a
                                        href="#"
                                        data-value="Registro de naciminento"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                    >Registro de naciminento</a
                            >
                                    <a
                                        href="#"
                                        data-value="Registro de matrimonio"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                    >Registro de matrimonio</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Registro de defunción"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                    >Registro de defunción</a
                                >
                                    <hr>
                                    <a
                                        href="#"
                                        data-value="DNI"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">DNI</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Pasaporte"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Pasaporte</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Autorización de viaje"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Autorización de viaje</a
                                    >
                                  
                                    <a
                                        href="#"
                                        data-value="Carta Poder simple o fuera de registro"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Carta Poder simple o fuera de registro</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Salvoconducto"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Salvoconducto</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Certificado de Ingresos"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Certificado de Ingresos</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Certificado de Supervivencia"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Certificado de Supervivencia</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Legalización de firma"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Legalización de firma</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Legalización de copias"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                        >Legalización de copias</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Declaración Jurada"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                        >Declaración Jurada</a
                                    >
                              
                                    <hr>
                                    <strong class="px-4 block ">tiene el valor de 12 euros, y se pagan por adelantado</strong>
                                    <a
                                        href="#"
                                        data-value="Certificado de Estado Civil"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                        >Certificado de Estado Civil</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Certificado de Antecedentes Penales"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Certificado de Antecedentes Penales
                                    </a>
                                        <a
                                        href="#"
                                        data-value="Certificado de Ingresos"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem">Certificado de Ingresos</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Certificado No inscripción de menor"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                        >Certificado No inscripción de menor</a
                                >
                                    <a
                                        href="#"
                                        data-value="Certificado de Nacionalidad"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                    >Certificado de Nacionalidad</a
                                    >
                                    <a
                                        href="#"
                                        data-value="Certificado Negativo de Percepción de Pensiones"
                                        class="block px-4 py-2 text-sm text-[#73838C] hover:bg-[#EA5075] hover:text-white"
                                        role="menuitem"
                                    >Certificado Negativo de Percepción de Pensiones</a
                                >
                                </div>
                            </div>

                            <!-- Input oculto que almacena el valor seleccionado -->
                            <input
                                type="hidden"
                                id="selectedValue"
                                name="tramite"
                                value="Tramite no especificado"
                                required
                            />
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <input
                            id="fullname"
                            class="outline-none bg-[#F4F5F6] border border-[#E9EBED] rounded-md p-3 shadow-sm focus:ring focus:ring-[#EA5075] focus:border-transparent"
                            type="text"
                            placeholder="Nombre completo"
                            required
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <input
                            id="dni"
                            class="outline-none bg-[#F4F5F6] border border-[#E9EBED] rounded-md p-3 shadow-sm focus:ring focus:ring-[#EA5075] focus:border-transparent"
                            type="text"
                            placeholder="DNI o pasaporte"
                            required
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <input
                            id="email"
                            class="outline-none bg-[#F4F5F6] border border-[#E9EBED] rounded-md p-3 shadow-sm focus:ring focus:ring-[#EA5075] focus:border-transparent"
                            type="email"
                            placeholder="Correo electrónico"
                            required
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <input
                            id="phone"
                            class="outline-none bg-[#F4F5F6] border border-[#E9EBED] rounded-md p-3 shadow-sm focus:ring focus:ring-[#EA5075] focus:border-transparent"
                            type="text"
                            placeholder="Teléfono"
                            required
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <input
                            id="address"
                            class="outline-none bg-[#F4F5F6] border border-[#E9EBED] rounded-md p-3 shadow-sm focus:ring focus:ring-[#EA5075] focus:border-transparent"
                            type="text"
                            placeholder="Domicilio"
                            required
                        />
                    </div>
                    <button
                    type="submit"
                    id="btn-submit"
                    class="mt-4 px-6 py-3 bg-gradient-to-r from-[#AA1437] to-[#EA5075] text-white font-semibold rounded-md transition duration-200 transform hover:bg-gradient-to-l hover:from-[#EA5075] hover:to-[#AA1437] hover:scale-105 hover:shadow-xl active:scale-95 focus:outline-none focus:ring-2 focus:ring-[#EA5075] focus:ring-opacity-50"
                    >
                        Reservar mi cita
                    </button>
                </form>
            </div>
        </div>
    </main>
</Layout>







<script>
    const dropdownButton = document.getElementById(
        "dropdownButton",
    ) as HTMLButtonElement | null;
    const dropdownMenu = document.getElementById(
        "dropdownMenu",
    ) as HTMLDivElement | null;
    const dropdownSelected = document.getElementById(
        "dropdownSelected",
    ) as HTMLSpanElement | null;
    const hiddenInput = document.getElementById(
        "selectedValue",
    ) as HTMLInputElement | null;

    const dropdownOptions = dropdownMenu?.querySelectorAll("a") as
        | NodeListOf<HTMLAnchorElement>
        | undefined;

    if (
        dropdownButton &&
        dropdownMenu &&
        dropdownSelected &&
        hiddenInput &&
        dropdownOptions
    ) {
        // Toggle del menú desplegable
        dropdownButton.addEventListener("click", () => {
            dropdownMenu.classList.toggle("hidden");
        });

        // Asignar el valor seleccionado y cerrar el menú
        dropdownOptions.forEach((option) => {
            option.addEventListener("click", (event) => {
                event.preventDefault();
                const value = option.getAttribute("data-value");
                const text = option.textContent;

                if (value) {
                    dropdownSelected.textContent = text;
                    hiddenInput.value = value;
                }

                dropdownMenu.classList.add("hidden");
            });
        });

        // Cerrar el menú si se hace clic fuera de él
        window.addEventListener("click", function (e: MouseEvent) {
            if (!dropdownButton.contains(e.target as Node)) {
                dropdownMenu.classList.add("hidden");
            }
        });
    }



    // Obtener todos los valores de lo campos del formulario
    const $service=document.getElementById("selectedValue") as HTMLInputElement | null
    const $fullname=document.getElementById("fullname") as HTMLInputElement | null
    const $dni=document.getElementById("dni") as HTMLInputElement | null
    const $email=document.getElementById("email") as HTMLInputElement | null
    const $phone=document.getElementById("phone") as HTMLInputElement | null
    const $address=document.getElementById("address") as HTMLInputElement | null

    //const $wsp=document.getElementById('whatsapp-message') as HTMLAnchorElement | null
    //const $btnSubmit=document.getElementById('btn-submit') as HTMLButtonElement | null
    const $form=document.getElementById('form') as HTMLFormElement | null

    $form?.addEventListener('submit',(e)=>{
        e.preventDefault()
        const service=$service?.value
        const fullname=$fullname?.value
        const dni=$dni?.value
        const email=$email?.value
        const phone=$phone?.value
        const address=$address?.value

        const message =`¡Hola equipo Massi Extranjería! \n\nQuisiera obtener una cita en el Consulado del Perú en Madrid. Aquí mis datos:\n\n- *Trámite*: ${service}\n- *Nombre*: ${fullname}\n- *DNI*: ${dni}\n- *Teléfono*: ${phone}\n- *Email*: ${email}\n- *Domicilio*: ${address}\n\n¡Gracias por su ayuda!`;
        
        const url = `https://wa.me/34614224218?text=${encodeURIComponent(message)}`
        window.open(url, '_blank')
    
    })
    
</script>
